/* a. Personalizar el tema: */
:root{
  --color-1 : #f1d472;
  --color-2 : #f4e08f;
  --color-3 : #120c64;
  --color-4 : #394ca1;
  --color-5 : #b8a9e9;

}


/* Estilos generales */
/* a. Personalizar el tema: */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40;
    padding: 10px;
    background-color: var(--color-1);
    
  }

  /* Contenedor fluido */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2vw; /* Espaciado relativo */
  }

  /* Grilla de tarjetas */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  

  /* Estilo de cada tarjeta */
  /* a. Personalizar el tema: */
  .card {
    background: var(--color-5);
    padding: 1rem;
    border-radius: 20px;
    text-align: left;
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Tipografía responsiva */
  }

  .card img {
    max-width: 80%; /* Imagen fluida */
    height: auto;
    border-radius: 4px;
  }

  /* a. Personalizar el tema: */
  .card h3{
    color: var(--color-3);
    padding: 20px;
    margin: 0;
  }

  /* a. Personalizar el tema: */
  .card p{
    color: var(--color-4);
  }